.navbar-expand {
    background: white !important;
    box-shadow: rgba(60, 138, 159, 0.40) 0px 20px 30px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.main-header .nav-link {
    color: rgba(7, 8, 12, 1) !important;
}